* {
  box-sizing: border-box;
}

:root {
  --maincolor: hsl(310, 69%, 63%);
  --secondcolor: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
}

header {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}

header button {
  background-color: var(--secondcolor);
  color: var(--maincolor);
  border-color: var(--maincolor);
  border-radius: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.container,
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}
.container p,
.community p {
  text-align: center;
  width: 30%;
  font-weight: 600;
  color: hsl(0, 0%, 20.62%);
}
.container button,
.community button {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 6rem;
  padding-left: 6rem;
  background-color: var(--maincolor);
  color: var(--secondcolor);
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  box-shadow: 1px 2px 5px 0px hsl(0, 0%, 50%);
}
.container img,
.community img {
  margin-top: 4rem;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  margin-top: 5rem;
}
.number .communities-number,
.number .message-number {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}
.number .paragraph {
  color: hsl(0, 0%, 50%);
}

.box1,
.box2,
.box3 {
  width: 100%;
  height: 40%;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box1 img,
.box2 img,
.box3 img {
  width: 30%;
}
.box1 .address,
.box2 .address,
.box3 .address {
  font-size: 2rem;
  font-weight: 800;
}

.grow-together,
.flowing-conversations,
.your-users {
  width: 30%;
}

.community {
  width: 100%;
  height: 30%;
}
.community h2 {
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 50%;
  background-color: hsl(240, 76%, 16%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .lorem {
  width: 40%;
}
footer .lorem p {
  color: var(--secondcolor);
}
footer .lorem .text {
  width: 50%;
}
footer .phone-email {
  display: flex;
  flex-direction: row;
}
footer .phone-email img {
  width: 1.5vw;
  height: 2vh;
  margin-top: 1.1875rem;
}
footer .phone-email p {
  color: var(--secondcolor);
  margin-left: 1rem;
}
footer .newsletter {
  width: 40%;
  margin-bottom: 2rem;
}
footer .newsletter .title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
footer .newsletter p {
  width: 59%;
  color: var(--secondcolor);
}
footer .newsletter input {
  width: 45%;
  height: 5vh;
  border-radius: 0.25rem;
  border: none;
  margin-top: 2rem;
}
footer .newsletter button {
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: var(--maincolor);
  color: var(--secondcolor);
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
}

@media screen and (min-width: 2560px) {
  .container button, .community button,
  footer .newsletter button {
    font-size: 1.5rem;
  }
  footer .newsletter input {
    height: 3vh;
  }
  footer .phone-email img {
    width: 1vw;
    height: 1vh;
  }
}
@media screen and (min-width: 1440px) {
  footer .newsletter input {
    height: 4vh;
  }
}
@media screen and (min-width: 768px) {
  .container img, .community img {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  header img {
    height: 10%;
    width: 40%;
    margin-top: 1rem;
  }
  header button {
    margin-left: 12rem;
  }
  .container, .community {
    margin-left: 6.5rem;
    margin-top: 5rem;
  }
  h1 {
    text-align: center;
  }
  .container p, .community p,
  h1,
  .container img, .community img {
    width: 170%;
  }
  .container button, .community button {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;
    margin-top: 10rem;
  }
  .communities {
    margin-bottom: 4rem;
  }
  .box1, .box2, .box3 {
    width: 125%;
    height: 50%;
    margin-top: 15rem;
    display: flex;
    align-items: center;
  }
  .box1, .box3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .box2 {
    display: flex;
    flex-direction: column;
  }
  .box1 .address, .box2 .address, .box3 .address {
    font-size: 1rem;
  }
  .box1 .sentences, .box2 .sentences, .box3 .sentences {
    width: 107%;
    margin-right: 3rem;
  }
  .grow-together, .flowing-conversations, .your-users {
    text-align: center;
  }
  .box1 img, .box2 img, .box3 img {
    margin-left: 2rem;
    width: 50%;
  }
  .community h2 {
    font-size: 1rem;
  }
  .community {
    display: flex;
    justify-content: center;
    margin-left: 3.5rem;
  }
  footer {
    width: 140%;
    height: 130%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  footer .newsletter, .lorem {
    margin-left: 5rem;
  }
  footer .newsletter p {
    width: 88%;
  }
  footer .lorem .text {
    width: 138%;
  }
  footer .newsletter input {
    width: 103%;
  }
  footer .newsletter button {
    margin-top: 1rem;
    margin-left: 0rem;
  }
  footer .phone-email img {
    width: 5vw;
  }
}/*# sourceMappingURL=main.css.map */